<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.listeners.ListnersEx" />
	</listeners>
	<test name="Test">
		<classes>
		<class name="com.test.LoginTest" />
			<class name="com.test.RegistrationTest" />
			
			<class name="com.test.UsersTest" />
			<class name="com.test.UsefullinkTest" />
			<class name="com.test.DownloadPageTest" />



		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
